@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient( to top, #389e9b, #713499 );
    
    }
   
    section {
        width: 80vw;
        height: ;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: right bottom;

    }

    #formulario{
        float: right;
        width: 50%;
    }
}

@media screen and (min-width: 992px){

    body{
        background-color: black;
    }
    section {
        width: 950px;
        overflow: hidden;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
        margin-bottom: 10px;
        overflow: hidden;

    }

    #formulario {
        float: left;
        width: 40%;
    }
}